*,*:before,*:after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
*:before,*:after{
  content:"";
  display:block;
}
*:focus{
  outline:none;
}
.clearfix,.clearfix:before,.clearfix:after{
  clear:both;
}
body{
  background: #f2f2f2;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}